.weather{
   padding: auto;
    margin-top: 15px; 
   
}

.weather-icon img{

    width: 45px;
    height: 45px;
}

.weather-icon .posi {
    position: relative;
    top: -30px;
    font-size: 80%;
  }
  
  .weather-icon .posi a {
    text-decoration: none;
  }
  

.temp{
    font-size: 45px;
    font-weight: 150;
    margin-left: 10px;
}

.weather{
    margin-top: 20px;
}

.weather-details-list{
    list-style-type:none;
}